<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HTML for python flask</title>
</head>

<body>
    <form action="/api/v1/ssh/create" method="post">
		<h3> /api/v1/ssh/create </h3>
	    <p>project_id : <input type="text" id="project_id" name="project_id"></p>
	    <p>port : <input type="text" id="port" name="port"></p>
	    <p>floating_ip : <input type="text" id="floating_ip" name="floating_ip"></p>
	    <p> <input type="submit" value="post" onclick="alert('제출 완료!')" /></p>
    </form>
	<br>
	<form action="/api/v1/ssh/delete" method="post">
		<h3> /api/v1/ssh/delete </h3>
	    <p>project_id : <input type="text" id="project_id" name="project_id"></p>
	    <p>floating_ip : <input type="text" id="floating_ip" name="floating_ip"></p>
	    <p> <input type="submit" value="post" onclick="alert('제출 완료!')" /></p>
    </form>
</body>
